@import "tailwindcss";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  min-height: 100vh;
  background-color: #050015;
  color: #ffffff;
  overflow-x: hidden; /* Trava crítica para impedir que o conteúdo deslize para fora da tela */
}

#root {
  position: relative;
  display: block; 
}